#span-1{
    height: 20px;
    width: 20px;
    background-color: red;
    display: inline-block;
    padding: 20px;
   border: 2px solid white;
}

#span-2{
    height: 20px;
    width: 20px;
    background-color: green;
    display: inline-block;
    padding: 20px;
   border: 2px solid white;
}



#span-3{
    height: 20px;
    width: 20px;
    background-color: purple;
    display: inline-block;
    padding: 20px;
   border: 2px solid white;
}




#span-4{
    height: 20px;
    width: 20px;
    background-color: blue;
    display: inline-block;
    padding: 20px;
   border: 2px solid white;
}



#span-1{
    height: 20px;
    width: 20px;
    background-color: red;
    display: inline-block;
    padding: 20px;
   border: 2px solid white;
}